.cart-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-cart {
  display: flex;
  align-items: center;
}

.search-cart img {
  width: 30px;
}

.search-cart input {
  height: 20px;
  width: 1000px;
}
